{% extends "base.html" %}

{% block nav %}
  <div class="d-flex gap-2">
    <a href="{% url 'products_view' %}" class="btn btn-primary">
      Products
    </a>

    <a href="{% url 'product_add_view' %}" class="btn btn-outline-primary">
      Add Product
    </a>

    <a href="{% url 'category_add_view' %}" class="btn btn-primary">
      Add Category
    </a>
  </div>
{% endblock %}

{% block content %}
  <div class="row justify-content-center">
    <div class="col-md-10">

      <div class="card shadow-sm">
        <div class="card-body">
          <h1 class="card-title mb-4">Add product</h1>

          {% include "partial/product_form.html" with button_text="Create" %}

        </div>
      </div>

    </div>
  </div>
{% endblock %}