{% extends "base.html" %}

{% block nav %}
  <div class="d-flex gap-2">
    <a href="{% url 'products_view' %}" class="btn btn-primary">
      Products
    </a>

    <a href="{% url 'product_add_view' %}" class="btn btn-primary">
      Add Product
    </a>

    <a href="{% url 'category_add_view' %}" class="btn btn-primary">
      Add Category
    </a>
  </div>
{% endblock %}

{% block content %}
  <div class="row mt-4">
    <div class="col-md-4">
      <img src="{{ product.image_link }}"
           class="product-detail-image rounded"
           alt="{{ product.title }}">
    </div>

    <div class="col-md-8">
      <h2>{{ product.title }}</h2>

      <p class="text-body-secondary mb-2">
        {{ product.category.title }}
      </p>

      <p class="fw-bold fs-5">
        Price: {{ product.price }}$
      </p>

      <p>
        {% if product.description %}
          {{ product.description }}
        {% else %}
          No description
        {% endif %}
      </p>

      <p class="text-body-secondary">
        added: {{ product.created_at|date:"d/m/Y H:i" }}
      </p>
    </div>
  </div>
{% endblock %}